<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.everymatch.mvc.model.dao.MatchScheduleDao">
 	
 	<select id="getMatchScheduleByUserFavoriteTeamId" parameterType="String" resultType="MatchSchedule">
        SELECT DISTINCT 
	        ms.match_id AS match_id,
	        ms.date AS date,
	        ms.time AS time,
	        ht.team_name AS home_team_name,
	        at.team_name AS away_team_name,
	        ms.location AS location
	    FROM favorite_team ft
	    JOIN match_schedule ms
	        ON ft.team_id = ms.hometeam_id
	        OR ft.team_id = ms.awayteam_id
	    LEFT JOIN sport_team ht ON ms.hometeam_id = ht.team_id
	    LEFT JOIN sport_team at ON ms.awayteam_id = at.team_id
	    WHERE ft.user_id = #{userId}
    </select>
    
 </mapper>