<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everymatch.mvc.model.dao.SportTeamDao">
 	
 	<select id="getAllSportTeam" resultType="SportTeam">
        SELECT *
        FROM sport_team;
    </select>
    
    <select id="getSportTeamByTeamId" parameterType="int" resultType="SportTeam">
    	SELECT *
    	FROM sport_team
    	WHERE team_id = #{teamId};
	</select>
	
	<insert id="insertSportTeam" parameterType="SportTeam">
        INSERT INTO user (team_id, sport_name, team_name, team_logo)
        VALUES (#{teamId}, #{sportTeam}, #{teamName}, #{teamLogo});
    </insert>

    <delete id="deleteSportTeam" parameterType="int">
        DELETE FROM sport_team
        WHERE team_id = #{teamId};
    </delete>

    <update id="updateSportTeam" parameterType="SportTeam">
        UPDATE sport_team
        SET team_id = #{teamId}, sport_name = #{sportTeam}, team_name = #{teamName}, team_logo = #{teamLogo}
        WHERE team_id = #{teamId};
    </update>

</mapper>