.custom-swal-popup {
	border-radius: 10px;
	padding: 20px;
	font-family: 'Arial', sans-serif;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-swal-title {
	font-size: 24px;
	font-weight: bold;
	color: #da4537;
}

.custom-swal-text {
	font-size: 16px;
	color: #555;
}

.swal2-confirm {
	background-color: #da4537 !important;
	color: white !important;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
}

.swal2-confirm:hover {
	background-color: #ec493a !important;
}
